<div class="row">
  <h3>About</h3>
    <div class="panel">
      <h5>Redder</h5>
      <p>
        The name “Redder” comes from the fusion of Reddit and Ember. Redder was created in response to a coding challenge issued by <a href="greenfieldhq.com">Greenfield</a> which involved building a app with an Ember frontend with Ember CLI with a Rails backend for the api.  The long-term goal for redder is to look as similar to the real Reddit as possible and will be a continuing project.
      </p>
      <p>
        Github: <a href="https://github.com/judngu/Redder2">click here</a>
      </p>
    </div>
    <div class="panel">
      <h5>The Creater</h5>
      <p>
        Redder was created by Judy Nguyen, a fresh <a href="launchacademy.co">Launch Academy</a> graduate at the time of it's conception.  Redder is her first ember app.
        Please visit me <a href=
        "http://linkedin.com/in/judngu">LinkedIn</a>, <a href="http://twitter.com/judngu">Twitter</a>, and <a href="http://judynguyen.me">Portfolio</a> for more information.
      </p>
    </div>
    <div class="panel">
      <h5>Disclaimer</h5>
      <p>
        All things Reddit belong to Reddit. Redder was just created for learning purposes. :)
      </p>
    </div>



</div>
