<nav class="top-bar topbar" data-topbar role="navigation">
  <ul class="title-area inline-list">
    <li class="name">
      <h1><img src="http://i.imgur.com/hc5nGVe.png" height="25" width="25"></h1>
    </li>
    <li class="name">
      <h1>{{link-to 'Redder' 'application'}}</h1>
    </li>
    <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active">{{link-to 'Submit a link' 'posts.new'}}</li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li>{{link-to 'About' 'about'}}</li>
    </ul>
  </section>
</nav>

{{outlet}}
