<form>
  <h2>{{errorMessage}}</h2> <fieldset>
  <fieldset>
    comment:{{input value=model.body}}</br>
    <button {{action "save"}} class="secondary tiny">Save</button>
    <button class="secondary tiny"{{action "cancel"}}>Cancel</button>
  </fieldset>
</form>
